h1 {
  display: flex;
  justify-content: center;
}

.eternia {
  background-color: blue;
  color: azure;
}
ul {
  display: flex;
  justify-content: space-around;
}

.hesle {
  display: flex;
  justify-content: center;
  
}
.skeletor {
  border-radius: 50px 0px 0px 50px;
}
.heman {
  border-radius: 0px 50px 50px 0px;
}

.heman, .skeletor{
  width: 400px;

}

